*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #0082C6;
}

body{
    background: #000117;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container{
    width: 90vw;
    overflow: hidden;
}

.parent{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.parent-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


section{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact, .projects, .experiences,.contact img, .projects img, .experiences img {
    width: 100%;
}

/* .heading{
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
    margin: 20px auto;
} */

/* header part css start here */
.toggle{
    display: none;
}

header{
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #02033b;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    display: flex;
    gap: 40px;
    align-items: center;
}

.logo img{
    width: 80px;
}

.logo img:hover{
    width: 100px;
}


.navbar ul li{
    display: inline-flex;
    line-height: 60px;
    font-weight: 500;
    padding: 0 10px;
}


.link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #0082C6;
    transition: width .5s ease-in-out ;
}

.link:hover::after{
    width: 100%;
}

.link:hover{
    color: #42a4d4;
}


.resume a{
    background: linear-gradient(to right,#0082C6,#2d9fd8,#0082C6);
    line-height: 20px;
    border-radius: 25px;
    padding: 10px 20px;
    color: black;
}

.resume:hover a{
    background: linear-gradient(to bottom,#0082C6,#2d9fd8,#0082C6);
}
/* header part css end here */



/* sidebar part css start here */
.sidenav-container{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: rgba(10, 10, 10, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;

    top: 80px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.show{
    display: block;
}

.width{
    width: 100%;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* sidebar part css end here */




/* about me part css start here */
#aboutme{
    padding: 60px 0;
}



.image{
    display: flex;
    justify-content: center;
    width: 40%;
}

.image img{
    width: 80%;
} 

.about{
    width: 60%;
    padding: 0 20px;
}


.about p{
    text-align: justify;
    line-height: 25px;
}


.hi{
    font-size: 30px;
    padding: 10px 0;
}

/* about me  part css end here */ 


/* Skills part css start here*/

.heading{
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px 0;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills p{
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}

.skill-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.skill{
    position: relative;
    width:15%;
    border-radius: 100%;
    border: 1px solid lightgrey;
    margin: 1%;
    display: flex;
    align-self: center;
}

.skill img{
    width: 100%;
}

.nextjs{
    background-color: #0082C6;
}

.skill:hover .overlay{
    background-color: white;
    opacity: 0.8;    
}

.skill:hover .overlay p{
    display: inline;
    font-size: 30px;
    font-weight: 800;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: all 0.5s ease-in;
    
}

.overlay p{
    display: none;
}

/* Skills part css end here*/



/* Experience part css satar here*/
.experiences{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    padding: 10px 0;
}


.experience{
    display: grid;
    grid-template-columns: 1fr 50px 2fr;
    align-items: start;
    gap: 5px;
    min-height: 180px;
}

.experience h3 {
    margin: 0;
    color: #0b3d91;
    font-size: 18px;
    text-transform: uppercase;
}
.experience h2 {
    margin: 0;
    color: #0b3d91;
    font-size: 18px;
    text-transform: uppercase;
}
.experience p {
    margin: 5px 0 0;
    color: #555;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
}

.experience-details .company-details{
    padding: 10px 0;
    line-height: 25px;
}

/* Center (Dot + Line) */
.center-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.center-circle .dot-circle{
    border: 2px dashed;
    border-radius: 50%;
}

.dot-circle .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 6px;
}

.center-circle .line {
  flex: 1;
  border: 1px dashed;
  
}

/* Dot Colors */
.dot.green { background: #2ecc71; }
.dot.red { background: #e74c3c; }
.dot.yellow { background: #f1c40f; }


/* Experience part css end here*/



/* Project part css Start here*/
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
}


.project-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit:fill;
}

.project-card .content {
    padding: 5px 15px;
    height: 210px;
}

.project-card h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.3rem;
    color: #0b3d91;
}

.project-card p {
    height: 130px;
    font-size: 0.95rem;
    color: #666;
    /* margin: 10px 0; */
    overflow: hidden;
}

.project-card .project-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s;
}

.project-card a:hover {
    background: #0056b3;
}
/* Project part css end here*/


/* contact part css start here */
.info{
    padding: 30px 0;
    font-size: 18px;
    line-height: 42px;
    /* text-align: center; */
}

.info i{
    font-size: 25px;
    margin-right: 20px;
    color: #0082C6;
}

.info a{
    color: white;
}



form input, textarea{
    width: 360px;
    height: 40px;
    padding: 5px 2%;
    margin: 3px 0;
    font-size: 18px;
    background: #323657;
    color: #5778ee;
    border-bottom: 4px solid transparent;
}



input:hover,textarea:hover{
    border-bottom: 4px solid #15166e;
}


textarea{
    height: 80px;
}


::placeholder{
    color: #5778ee;
}


form button{
    width: 104%;
    height: 60px;
    padding: 5px 0;
    margin: 2px 0;
    font-size: 18px;
    background-color: #15166e;
    color: #8f959b;
}



/* contact part css end here */


/* footer part css start here */
footer{
    background: #02033b;
}

.foot2{
    text-align: center;
    padding: 40px 0;
}

.sociallink ul li:hover a{
    color: lightseagreen;
}

.foot2 .sociallink ul li{
    display: inline-flex;
    font-size: 25px;
    line-height: 60px;
    font-weight: 500;
    padding: 10px;
}



/* footer part css end here */




